.App {
  text-align: center;
  background-color: rgba(255, 152, 67, 0.733);
  gap: 10px;
  font-family: "Josefin Sans", sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: solid rgb(255, 255, 255);
  background-color: rgba(182, 94, 182, 0.438);
  border-radius: 25px;
  width: 70%;
  color: white;
}

.accountInfo {
  border: solid white;
  width: 20%;
  display: flex;
  margin: 25px auto;
  align-content: center;
  justify-content: center;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.363);
}

.depositWithdrawBtns {
  display: grid;
  width: 30%;
  margin: 20px 20px;
}

button {
  background-color: rgba(102, 11, 11, 0.349);
  border-radius: 25px;
  border: solid rgba(136, 54, 16, 0.753);
  padding: 25px;
  font-size: 20px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}
button:hover {
  background-color: rgba(102, 11, 11, 0.664);
}

body {
  background-color: rgba(255, 152, 67, 0.733);
}
